.card {
  width: 185px;
  font-weight: 500;
  > div {
    background: pink;
  }
  .status {
    margin-bottom: 10px;
    text-align: center;
  }
  .list {
    min-height: 400px;
    overflow: hidden;
    > div {
      margin: 25px auto;
    }
    .add {
      width: 40px;
      height: 40px;
      border: 1px solid #b68989;
      border-radius: 50%;
      background: #fff;
      position: relative;
      cursor: pointer;
      &::before,
      &::after {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      &::before {
        content: '';
        display: block;
        width: 1px;
        height: 30px;
        background: #b68989;
      }
      &::after {
        content: '';
        display: block;
        width: 30px;
        height: 1px;
        background: #b68989;
      }
    }

    .item {
      width: 150px;
      border: 2px solid black;
      padding: 5px 0;
      text-align: center;
      background: #fff;
      input {
        width: 100%;
        height: 21px;
        border: none;
        outline: none;
        background: transparent;
        box-sizing: border-box;
        padding: 0 15px;
      }
    }
  }
}
